<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://image.tianjimedia.com/uploadImages/2013/217/5KUAGRR3X59M.jpg</string>
	<string>http://img4.duitang.com/uploads/item/201308/22/20130822222540_YrMLK.jpeg</string>
	<string>http://img4.duitang.com/uploads/item/201309/04/20130904133303_xETVk.jpeg</string>
	<string>http://f.hiphotos.baidu.com/zhidao/pic/item/91ef76c6a7efce1b602f7192ab51f3deb48f6566.jpg</string>
	<string>http://img5q.duitang.com/uploads/item/201504/16/20150416H2548_CEuXR.jpeg</string>
	<string>http://download.pchome.net/wallpaper/pic-5801-3-640x1136.jpg</string>
	<string>http://img5q.duitang.com/uploads/item/201505/06/20150506144542_x5G8t.jpeg</string>
	<string>http://img5.duitang.com/uploads/item/201510/02/20151002121552_mRhaZ.jpeg</string>
	<string>http://image.tianjimedia.com/uploadImages/2013/190/RN05F9R0K3Y5.jpg</string>
	<string>http://img5.duitang.com/uploads/item/201408/08/20140808142754_2tTys.jpeg</string>
	<string>http://mg.soupingguo.com/bizhi/big/10/266/776/10266776.jpg</string>
	<string>http://mg.soupingguo.com/bizhi/big/10/275/577/10275577.jpg</string>
	<string>http://imgsrc.baidu.com/forum/pic/item/affb64600c338744c1f4a3a0510fd9f9d62aa01c.jpg</string>
</array>
</plist>
